{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors.length > 0 %}

{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
}) }}

{% endif %}
