{% extends "layouts/main.njk" %}

{% block content %}

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Feedback submission complete
        </h1>
        <div class="govuk-panel__body">
            Thank you for your feedback on the {{ serviceName }}
            service
        </div>
    </div>

{% endblock %}