{% extends "govuk/template.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link href="/assets/css/all.css" rel="stylesheet">
    <!--<![endif]-->

    {# For Internet Explorer 8, you need to compile specific stylesheet #}
    {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
    <!--[if IE 8]>
    <link href="/assets/css/all-ie8.css" rel="stylesheet">
    <![endif]-->

    {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
{% endblock %}

{% block bodyStart %}
    {% if showCookieBanner %}
        {% include "../partials/_cookie-banner.njk" %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% include '../partials/_footer.njk' %}
{% endblock %}

{% block pageTitle %}GOV.UK - {{ serviceName }}{% endblock %}

{% block header %}
    {{ govukHeader ({
        homepageUrl: "/",
        serviceName: serviceName,
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">
                Your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    {% if not hideBackLink %}
        {{ govukBackLink({ text: "Back", href: "javascript:history.go(-1)" }) }}
    {% endif %}
{% endblock %}

{% block bodyEnd %}
    <script async="" src="https://.googletagmanager.com/gtag/js?id=G-YEF99LLDKP"></script>
    <script src="/assets/js/all.js"></script>
    <script src="/js/app.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("create", "G-YEF99LLDKP", { "cookieFlags": "SameSite=None; Secure" });
      gtag("config", "G-YEF99LLDKP");
    </script>
{% endblock %}
