{% extends "layouts/main.njk" %}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
    <h1 class="govuk-heading-xl">Details of the serviceperson</h1>

    {% include "partials/_error-summary.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="/details" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukInput({
                    label: { text: "First name(s) or initial(s) (optional)", isPageHeading: false },
                    id: "firstname", name: "firstname", value: form[0].firstname,
                    errorMessage: inline.firstname
                }) }}

                {{ govukInput({
                    label: { text: "Last name", isPageHeading: false },
                    id: "surname", name: "surname", value: form[0].surname,
                    errorMessage: inline.surname
                }) }}

                {{ govukInput({
                    label: { text: "Service number", isPageHeading: false },
                    id: "service_number", name: "service_number", value: form[0].service_number
                }) }}

                {{ govukButton({
                    text: "Search Roll of Honour"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}


{% block bodyEnd %}
    <script async="" src="https://.googletagmanager.com/gtag/js?id=G-YEF99LLDKP"></script>
    <script src="/assets/js/all.js"></script>
    <script src="/js/app.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("create", "G-YEF99LLDKP", { "cookieFlags": "SameSite=None; Secure" });
      gtag("config", "G-YEF99LLDKP");
    </script>
{% endblock %}
