{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
    <h1 class="govuk-heading-xl">Search the Roll of Honour</h1>
    <p class="govuk-body">Use this service to get information on a serviceperson who died while in service after 1947
        (includes Palestine 1945-47).</p>
    {% include "partials/_error-summary.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/service" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukCheckboxes({
                    idPrefix: "service",
                    name: "service[]",
                    fieldset: {
                        legend: {
                            html: "<h2 class=\"govuk-heading-m\">Serviceperson's service</h2>",
                            isPageHeading: false
                        }
                    },
                    hint: { text: "Check all services that apply." },
                    items: [
                        { value: "any", text: "Any" },
                        { value: "Royal Navy", text: "Royal Navy" },
                        { value: "Royal Marines", text: "Royal Marines" },
                        { value: "Royal Air Force", text: "Royal Air Force" },
                        { value: "Army", text: "Army" }
                    ],
                    values: service,
                    errorMessage: inline.service
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
