{% extends "layouts/main.njk" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Privacy Policy</h1>
        </div>
    </div>

    <p class="govuk-body">When you search the Armed Forces Memorial roll of honour service you will be asked for
        information on the name of your subject, their service number, and further information to help identify their
        record.</p>
    <p class="govuk-body">Information you enter will be held temporarily and securely in line with our <a
                href="/cookie-policy">cookie policy</a>. We do this so you can progress through and complete your
        search. At the end of the process this information will be used to create a search result. The cookies holding
        the information you entered will be removed from your computer at the end of the process.</p>
    <p class="govuk-body">If you don't complete the process to submit your search, this information may be retained in
        files on your computer. You can clear this cookie data in the normal way, via browser settings or by searching
        for "clearing cookie data" for a method specific to your browser.</p>
{% endblock %}