{% extends "layouts/main.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button,
        contact <a href="mailto:DBSCIO-AFMROHFeedback@mod.gov.uk">DBSCIO-AFMROHFeedback@mod.gov.uk</a> if you need to
        speak to someone about your search</p>
{% endblock %}