{% extends "layouts/main.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Page expired</h1>
    <p class="govuk-body">If you typed the web address, check it is correct</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button,
        you will need to <a href="/">restart your search</a></p>
{% endblock %}