{% extends "layouts/main.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address</p>
    <p class="govuk-body">Use <a href="mailto:DBSCIO-AFMROHFeedback@mod.gov.uk">contact
            DBSCIO-AFMROHFeedback@mod.gov.uk</a> if you need to speak to someone about the service</p>
{% endblock %}