{% extends "layouts/main.njk" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Accessibility statement for {{ serviceName }}</h1>
        </div>
    </div>

    <p class="govuk-body">This website is run by the Ministry of Defence. We want as many people as possible to be able
        to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
            VoiceOver)
        </li>
    </ul>
    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
    <p class="govuk-body">AbilityNet has advice on making your device easier to use if you have a disability.</p>
    <p class="govuk-body">How accessible this website is</p>
    <h2 class="govuk-heading-m">We know some parts of this website are not fully accessible:</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>PDFs. Most older PDF documents are not fully accessible to screen reader software</li>
    </ul>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">If you have accessibility feedback on this website or need information on this website in a
        different format, use the feedback links in the application.</p>
    <p class="govuk-body">We'll consider your request and get back to you in 7 days.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems
        not listed on this page or think we're not meeting accessibility requirements, contact: <a
                href="mailto:DBSCIO-AFMROHFeedback@mod.gov.uk">DBSCIO-AFMROHFeedback@mod.gov.uk</a></p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector
        Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility
        regulations'). If you're not happy with how we respond to your complaint, <a
                href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service
            (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p class="govuk-body">The Ministry of Defence is committed to making its website accessible, in accordance with the
        Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">This website is partially compliant with the <a
                href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA
        standard, due to the non-compliances listed below.</p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
    <p class="govuk-body">PDFs. Some older PDFs and other documents don’t meet accessibility standards. This fails WCAG
        2.1 success criteria 1.1.1 (non-text content), 1.3.1 (info and relationships), 2.1.1 (keyboard), 2.4.1 (bypass
        blocks), 2.4.2 (page titled), 2.4.4 (link purpose (in context)), 2.4.9 (link purpose (link only)), and 3.1.1
        (language of page). We are currently working to resolve this issue.</p>

    <h2 class="govuk-heading-s">Disproportionate burden</h2>
    <p class="govuk-body">Not applicable.</p>

    <h2 class="govuk-heading-s">Content that's not within the scope of the accessibility regulations</h2>
    <p class="govuk-body">The accessibility regulations do not require us to make PDFs or other documents published
        before 23 September 2018 accessible if they are not essential to providing our services. However, if you need
        the information in an alternative format, please contact us.</p>

    <h2 class="govuk-heading-m">What we are planning to do to improve accessibility</h2>
    <p class="govuk-body">We have a plan in place to improve the accessibility of our website and are working to fix any
        issues that don’t meet the requirements.</p>
    <p class="govuk-body">Staff who have responsibility for the content will be trained in producing more accessible
        content.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 15 December 2022.</p>
    <p class="govuk-body">This website was last tested on 9 December 2022. The test was carried out using an automated
        tool Puppeteer to flag up accessibility issues.</p>
    <p class="govuk-body">We also carry out manual testing using JAWS, NVDA and Dragon software.</p>

{% endblock %}